@model List<Question>
@{
    ViewData["Title"] = "Questions";
}

<div class="container">
    <div class="col-md-8 mx-auto">
        <div class="question-container">
            <h2 class="mb-4">Questions</h2>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Question</th>
                        <th>Answers</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td style="width: 40%;">
                                <p>@Model[i].QuestionText</p>
                            </td>
                            <td style="width: 40%;">
                                @foreach (var answer in Model[i].Answers)
                                {
                                    <p class="@(answer.IsCorrect ? "bg-success text-white p-2 font-weight-bold" : "")"> @answer.AnswerText </p>
                                }
                            </td>
                            <td style="width: 20%;">
                                <form asp-controller="Question" asp-action="DeleteQuestion" method="post">
                                    <input type="hidden" name="id" value="@Model[i].Id" />
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>