@{
    ViewData["Title"] = "Questions Page";
}
@model List<Question>

<div class="col-md-6">
    <h2>Questions</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Question</th>
                <th>Actions</th>
                <th>Answers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in Model)
            {
                <tr>
                    <td>@question.Id</td>
                    <td>@question.QuestionText</td>
                    <td>
                        <form asp-controller="Question" asp-action="DeleteQuestion" method="post">
                            <input type="hidden" name="id" value="@question.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    <td>
                        @foreach (var answer in question.Answers)
                        {
                            @if (answer.IsCorrect)
                            {
                                <p class="bg-success text-white p-2 font-weight-bold"> @answer.AnswerText </p>
                            }
                            else
                            {
                                <p> @answer.AnswerText </p>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>